*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f4f4f4;
}

.cv-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.sidebar{
  width: 35%;
  background: #1f2937;
  color: white;
  padding: 30px;
}

.perfil{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 5px solid white;
}

.sidebar h1{
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.descripcion{
  text-align: justify;
  margin-bottom: 30px;
  line-height: 1.6;
}

.sidebar h2{
  margin-top: 25px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.dato{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 12px;
}

.dato img{
  width: 28px;
  height: 28px;
}

.dato span{
  font-size: 15px;
}

.content{
  width: 65%;
  background: white;
  padding: 40px;
}

.content section{
  margin-bottom: 35px;
}

.content h2{
  color: #000000;
  margin-bottom: 15px;
  border-bottom: 3px solid #1f2937;
  padding-bottom: 5px;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span{
  background: #1f2937;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}

ul{
  padding-left: 20px;
}

ul li{
  margin-bottom: 10px;
}

.item{
  margin-bottom: 25px;
}

.item h3{
  color: #111827;
  margin-bottom: 5px;
  font-size: 25px;
}

.item p{
  margin-bottom: 8px;
  text-align: justify;
  line-height: 1.5;
}

.item span{
  font-weight: bold;
  color: #374151;
}

/* RESPONSIVE */

@media(max-width: 900px){

  .cv-container{
    flex-direction: column;
  }

  .sidebar,
  .content{
    width: 100%;
  }

}