<div class="cv-container">

  <!-- LADO IZQUIERDO -->
  <div class="sidebar">

    <img src="perfil.jpeg" class="perfil" alt="perfil">

    <h1>Dulce Alejandra Labra Sanchez</h1>

    <p class="descripcion">
      Estudiante de Ingeneria en Desarrollo y Gestioón de Software
      en la Universidad Tecnológica del Sur de Sonora,
      con habilidades en desarrollo de Aplicaciones Web, Móviles Base de Datos y API.
    </p>

    <h2>DATOS PERSONALES</h2>

    <div class="dato">
      <img src="edad.png" alt="">
      <span>20 años</span>
    </div>

    <div class="dato">
      <img src="calendario.png" alt="">
      <span>02/11/2005</span>
    </div>

    <div class="dato">
      <img src="ciudadania.png" alt="">
      <span>Nacionalidad Mexicana</span>
    </div>

    <h2>CONTACTOS</h2>

    <div class="dato">
      <img src="telefono.png" alt="">
      <span>64-42-58-76-50</span>
    </div>

    <div class="dato">
      <img src="correo.png" alt="">
      <span>alejandra.labra.ale&#64;gmail.com</span>
    </div>

    <div class="dato">
      <img src="ubicación.png" alt="">
      <span>
        C. Los Trapenses #2836,
        Las Haciendas, Cd Obregón, Sonora
      </span>
    </div>

  </div>

  <!-- LADO DERECHO -->
  <div class="content">

    <section>
      <h2>TECNOLOGÍAS</h2>

      <div class="tags">
        <span>C#</span>
        <span>SQL Server</span>
        <span>Xamarin</span>
        <span>Maui</span>
        <span>NoSQL</span>
        <span>Angular</span>
        <span>HTML</span>
        <span>.NET</span>
        <span>MongoDB</span>
      </div>
    </section>

    <section>
      <h2>HABILIDADES</h2>

      <ul>
        <li>Trabajo en equipo</li>
        <li>Comprender un problema</li>
        <li>Organización</li>
        <li>Adaptabilidad</li>
      </ul>
    </section>

    <section>
      <h2>CONOCIMIENTO</h2>

      <ul>
        <li>Realizar aplicaciones web</li>
        <li>Realizar aplicaciones móvil</li>
        <li>Base de datos</li>
        <li>API</li>
      </ul>
    </section>

    <section>
      <h2>EDUCACIÓN</h2>

      <div class="item">
        <h3>PREPARATORIA - MECATRÓNICA</h3>
        <p>Cetis No. 69, Sonora, Obregón</p>
        <span>Agosto 2020 - Julio 2023</span>
      </div>

      <div class="item">
        <h3>TÉCNICO SUPERIOR UNIVERSITARIO EN TECNOLOGÍAS DE LA INFORMACIÓN</h3>
        <p>Universidad Tecnológica del Sur de Sonora, Cd. Obregón</p>
        <span>Sep. 2023 - Ago 2025</span>
      </div>

      <div class="item">
        <h3>INGENERIA EN DESARROLLO Y GESTIÓN DE SOFTWARE</h3>
        <p>Universidad Tecnológica del Sur de Sonora, Cd. Obregón</p>
        <span>Sep. 2025 -  En curso</span>
      </div>
    </section>

    <section>
      <h2>PROYECTOS UNIVERSITARIOS</h2>

      <div class="item">
        <h3>BIBLIOTECA UTS</h3>

        <p>
          Sistema web para biblioteca de la UTS que permite gestionar préstamos,
          libros y usuarios con respaldo en base de datos.
        </p>

        <span>Desarrollador | MAY. 2024 - AGO. 2024</span>
      </div>

      <div class="item">
        <h3>PUERTA INTELIGENTE</h3>

        <p>
          Sistema IoT para control de acceso mediante PIN, sensor de proximidad
          y aplicación móvil.
        </p>

        <span>
          Desarrollador / Scrum Master | ENE. 2025 - ABR. 2025
        </span>
      </div>

    </section>

  </div>

</div>